# ----------------------------------------------------------------------------
# GitHub Action workflow to build FPC to be
# bundled with CGE downloads on https://castle-engine.io/download .
#
# See https://docs.github.com/en/actions for docs.
# ----------------------------------------------------------------------------

name: Build

# workflow_dispatch allows to call it manually
# See https://docs.github.com/en/actions/using-workflows/manually-running-a-workflow
on: [push, pull_request, workflow_dispatch]

defaults:
  run:
    shell: bash

jobs:
  build_native:
    name: Build Native
    strategy:
      matrix:
        runner: [
          ubuntu-latest,
          windows-latest,
          # last macOS using Intel
          macos-15-intel,
          macos-latest
        ]
        include:
          # Set matrix.fpc_os, matrix.fpc_cpu .
          # These are OS and CPU names following FPC naming convention,
          # exactly as if from
          # - fpc -iTO / -iSO (target/source OS)
          # - fpc -iTP / -iSP (target/source CPU)
          # They describe both source and target OS/CPU in our scenario.
          - fpc_os: linux
            fpc_cpu: x86_64
          - runner: windows-latest
            fpc_os: win64
            fpc_cpu: x86_64
          - runner: macos-latest
            fpc_os: darwin
            fpc_cpu: aarch64
          - runner: macos-15-intel
            fpc_os: darwin
            fpc_cpu: x86_64

    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6

      # Old approach:
      # Get last stable FPC to bootstrap.
      # Now: This is no longer used: we rely fully on our bootstrap-fpc/ subdirectory.
      #
      # - name: Install FPC+Lazarus (not macOS)
      #   if: ${{ ! matrix.is_macos }}
      #   uses: gcarreno/setup-lazarus@v3.3.1
      #   with:
      #     lazarus-version: stable
      #
      # - name: Install FPC+Lazarus (macOS)
      #   if: ${{ matrix.is_macos }}
      #   run: brew install fpc

      - name: Build FPC
        run: ./build_fpc ${{ matrix.fpc_os }} ${{ matrix.fpc_cpu }}

      # Old approach:
      # Get artifacts.
      # No need for this now. This job just updates GH release "snapshot",
      # and other things (like CGE build with bundled FPC) can just download it.
      # - name: Archive Artifacts
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: fpc-${{ matrix.fpc_os }}-${{ matrix.fpc_cpu }}-release
      #     path: "fpc-*.zip"
      #     if-no-files-found: error

      - name: Release Artifacts
        if: ${{ github.ref == 'refs/heads/master' }}
        run: gh release --repo castle-engine/cge-fpc upload snapshot --clobber fpc-*.zip
        env:
          GH_TOKEN: ${{ github.token }}

      # Additionally, when on Win64, build and release also Win32 FPC.
      - name: Build FPC (for Win32)
        if: ${{ matrix.fpc_os == 'win64' && matrix.fpc_cpu == 'x86_64' }}
        run: ./build_fpc ${{ matrix.fpc_os }} ${{ matrix.fpc_cpu }}
      - name: Release Artifacts (for Win32)
        if: ${{ matrix.fpc_os == 'win64' && matrix.fpc_cpu == 'x86_64' && github.ref == 'refs/heads/master' }}
        run: gh release --repo castle-engine/cge-fpc upload snapshot --clobber fpc-*.zip
        env:
          GH_TOKEN: ${{ github.token }}

  # build_arm_runner:
  #   name: Build on ARM Runner (for Raspberry Pi)
  #   runs-on: ubuntu-latest
  #   strategy:
  #     matrix:
  #       arch: [raspberry-pi-32, raspberry-pi-64]
  #       include:

  #       # additional defines for Raspberry Pi 32-bit (Arm)
  #       - arch: raspberry-pi-32
  #         # Arguments for pguyot/arm-runner-action
  #         cpu: cortex-a7
  #         base_image: raspios_lite:latest
  #         # Arguments for build_fpc script.
  #         fpc_os: linux
  #         fpc_cpu: arm

  #       # additional defines for Raspberry Pi 64-bit (Aarch64)
  #       - arch: raspberry-pi-64
  #         # Arguments for pguyot/arm-runner-action
  #         cpu: cortex-a53
  #         base_image: raspios_lite_arm64:latest
  #         # Arguments for build_fpc script.
  #         fpc_os: linux
  #         fpc_cpu: aarch64

  #   steps:
  #     - uses: actions/checkout@v6
  #     - uses: pguyot/arm-runner-action@v2
  #       with:
  #         base_image: ${{ matrix.base_image }}
  #         cpu: ${{ matrix.cpu }}
  #         shell: /bin/bash -eo pipefail
  #         image_additional_mb: 6000
  #         # Avoids the need for copy_artifact_path later.
  #         bind_mount_repository: true
  #         commands: |

  #           # get dependencies
  #           sudo apt-get update
  #           sudo apt-get --no-install-recommends -y install git make zip

  #           # on 32-bit Raspberry Pi, we rely on system-wide FPC
  #           if [ "${{ matrix.arch }}" = "raspberry-pi-32" ]; then
  #             sudo apt-get --no-install-recommends -y install fpc
  #           fi

  #           # run build_fpc
  #           ./build_fpc ${{ matrix.fpc_os }} ${{ matrix.fpc_cpu }}

  #     - name: Release Artifacts
  #       if: ${{ github.ref == 'refs/heads/master' }}
  #       run: gh release --repo castle-engine/cge-fpc upload snapshot --clobber fpc-*.zip
  #       env:
  #         GH_TOKEN: ${{ github.token }}
